#gazou { width:210px;
         height:210px;}
#man2 { width:210px;
        height:210px}
#man3 { width:210px;
        height:210px;}
#man4 { width:210px;
        height:210px;}
#kao1 { width:250px;
        height:260px;}
#kao2 { width:250px;
        height:260px;}